body {
  font-family: 'Roboto Condensed', serif;
}
.main {
  display: flex;
  justify-content: flex-start;
}

.color-guide {
  margin: 20px 40px;
}

h5 {
  margin-bottom: 10px;
}

.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: var(--background);
  font-size: 13px;
  font-weight: bold;
  background: #EE92C2;
  margin: 10px 0;
}

.guest {
  background: #F0C987;
  color: var(--background);
}

#drawingCanvas {
  position: absolute;
  background: var(--background);
}

#drawingCanvasContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#sidebar {
  padding: 20px;
}

#sidebar-title {
  text-align: center;
}

#phoneOutline {
  border-width: 1px;
  border-color: var(--background2);
  border-style: dashed;
  z-index: 1;
  width: 200px;
  height: 200px;
  position: absolute;
  pointer-events: none;
}
