body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

#sidebar {
  width: 300px;
  height: 100vh;
}

#drawingCanvasContainer {
  width: 200px;
  height: 200px;
  overflow: auto;
  border: 1px solid;
}

canvas {
  display: block;
}
